body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

input {
  margin: 5px;
}

.medform {
  border: 2px solid black;
  display: flex;
}

.card {
  width: 40%;
  float: left;
  margin: 15px;
}

#pill-taken-button {
  background-color: red;
  margin: auto;
  display: block;
  width: 28%;
  border-radius: 16px;
}

.landing-page-text-container {
  float: right;
  width: 420px;
  color: white;
  /* border: 2px solid white; */
  margin-right: 5%;
  margin-top: 20%;
  /* background-color: white; */
  box-shadow: 10px 10px 8px #ffffff;
}

#landing-page-button {
  float: right;
  clear: both;
  margin-right: 16%;
  margin-top: 40px;
  border-radius: 16px;
  width: 125px;
  background-color: aquamarine;
}